.table thead tr{
    background-color: #003294;
    color: white;
}
.table tbody tr td {
    vertical-align: middle;
}
.table tbody tr:not(:nth-child(2n + 1)){
    background-color: #C9c9c9;
    color: #003294;
}
.white-box .title {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.white-box .title button {
    display: flex;
    align-items: center;
}
.white-box .title button iconify-icon {
    margin-right: 7px;
    font-size: var(--default-text);
}